.facility {
  text-align: center;
  position: relative;

  &:not(&:last-child) {
    margin-bottom: 150px;
  }

  h2 {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 100%;
  }

  &__title {
    padding: 16px 227px;
    background-color: #fff;
    color: #14274a;
    text-align: center;
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media (max-width: 1920px) {
  .facility {
    img {
      width: 1280px;
    }
  }
}

@media (max-width: 1660px) {
  .facility {
    &__title {
      font-size: 30px;
    }

    h2 {
      bottom: 0;
    }

    img {
      width: 968px;
    }
  }
}

@media (max-width: 1280px) {
  .facility {
    &__title {
      font-size: 24px;
    }

    h2 {
      bottom: 0;
    }

    img {
      width: 800px;
    }
  }
}

@media (max-width: 968px) {
  .facility {
    &__title {
      font-size: 24px;
    }

    h2 {
      bottom: 0;
    }

    img {
      width: 720px;
    }
  }
}

@media (max-width: 800px) {
  .facility {
    &__title {
      font-size: 20px;
    }

    h2 {
      bottom: 0;
    }

    img {
      width: 500px;
    }
  }
}

@media (max-width: 650px) {
  .facility {
    &__title {
      font-size: 24px;
    }

    h2 {
      bottom: 0;
    }

    img {
      width: 400px;
    }
  }
}