.facility {
  text-align: center;
  position: relative;

  &:not(&:last-child) {
    margin-bottom: 150px;
  }

  h2 {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 100%;
  }

  &__title {
    padding: 16px 227px;
    background-color: #fff;
    color: #14274a;
    text-align: center;
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

@media (max-width: 1920px) {
  .facility {
    img {
      width: 1280px;
    }
  }
}

@media (max-width: 1660px) {
  .facility {
    &:not(&:last-child) {
      margin-bottom: 100px;
    }

    &__title {
      font-size: 30px;
      padding: 16px 200px;
    }

    img {
      width: 968px;
    }
  }
}

@media (max-width: 1280px) {
  .facility {
    &:not(&:last-child) {
      margin-bottom: 50px;
    }

    &__title {
      font-size: 24px;
      padding: 16px 150px;
    }

    img {
      width: 800px;
    }
  }
}

@media (max-width: 968px) {
  .facility {
    &__title {
      font-size: 24px;
      padding: 16px 100px;
    }

    img {
      width: 720px;
    }
  }
}

@media (max-width: 800px) {
  .facility {
    &__title {
      font-size: 20px;
      padding: 16px 80px;
    }

    img {
      width: 500px;
    }
  }
}

@media (max-width: 647px) {
  .facility {
    &__title {
      font-size: 14px;
      padding: 16px 60px;
    }

    img {
      width: 400px;
    }
  }
}

@media (max-width: 480px) {
  .facility {
    &__title {
      padding: 16px 50px;
    }

    img {
      width: 360px;
    }
  }
}

@media (max-width: 480px) {
  .facility {
    &__title {
      padding: 16px 36px;
    }

    img {
      width: 300px;
    }
  }
}

@media (max-width: 320px) {
  .facility {
    &__title {
      padding: 16px 16px;
    }

    h2 {
      bottom: 0;
    }

    img {
      width: 240px;
    }
  }
}
