.facility {
  text-align: center;
  position: relative;

  &:not(&:last-child) {
    margin-bottom: 150px;
  }

  h2 {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 100%;
  }

  &__title {
    padding: 16px 227px;
    background-color: #fff;
    color: #14274a;
    text-align: center;
    font-size: 48px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
