.contactPage {
  &__contact {
    color: #fff !important;
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
  }

  &__bodyHeader {
    margin-bottom: 184px;

    h2 {
      color: #14274a;
      font-size: 40px;
      font-weight: 700;
      line-height: 58px;
    }

    p {
      color: #14274a;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  &__contactBlock {
    .address,
    .contactInfo {
      color: #14274a;
      font-size: 20px;
      font-weight: 400;
      line-height: 38px;
    }

    .address {
      margin-bottom: 60px;
    }
  }
}
