.footer {
  padding: 128px 256px;
  background-color: #14274a;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .info {
      .contacts {
        margin-top: 22px;

        div {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }

    .links {
      .link {
        display: block;
        color: #f7f7f7;
        font-size: 16px;
        font-weight: 700;
        line-height: 14px;

        &:not(&:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    .links,
    .socials {
      align-self: flex-start;
    }
  }
}

@media (max-width: 1280px) {
  .footer {
    padding: 96px 128px;
  }
}

@media (max-width: 968px) {
  .footer {
    padding: 48px 64px;
  }
}

@media (max-width: 720px) {
  .footer {
    padding: 8px 16px;

    .container {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .links,
      .socials {
        align-self: center;
        text-align: center;
      }
    }
  }
}
