.navHeader {
  &__navigation {
    a {
      color: #fff;
      font-size: 25px;
      font-weight: 700;
      line-height: 23px;
    }
  }
}

@media (min-width: 1280px) {
  .navHeader {
    &__navigation {
      display: block;
    }

    .burgerMenu {
      display: none;
    }
  }
}

@media (max-width: 1280px) {
  .navHeader {
    &__navigation {
      display: none;
    }

    .burgerMenu {
      display: block;
    }
  }
}
