.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;

  &__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    background-color: #14274a;
    text-align: center;
    width: 1517px;
    padding: 41px 41px;
  }
}
