.room {
  margin-bottom: 80px;
  text-align: center;
  position: relative;

  h2 {
    position: absolute;
    bottom: 29px;
    left: 0;
    width: 100%;
  }

  &__title {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 58px;
    text-transform: uppercase;
    background-color: #14274a;
    text-align: center;
    padding: 20px 20px;
  }
}

@media (max-width: 1920px) {
  .room {
    img {
      width: 1280px;
    }
  }
}

@media (max-width: 1660px) {
  .room {
    &__title {
      font-size: 30px;
    }

    h2 {
      bottom: 11px;
    }

    img {
      width: 968px;
    }
  }
}

@media (max-width: 1280px) {
  .room {
    &__title {
      font-size: 24px;
    }

    h2 {
      bottom: 8px;
    }

    img {
      width: 800px;
    }
  }
}

@media (max-width: 968px) {
  .room {
    img {
      width: 720px;
    }
  }
}

@media (max-width: 800px) {
  .room {
    img {
      width: 480px;
    }

    &__title {
      display: none;
    }
  }
}

@media (max-width: 540px) {
  .room {
    img {
      width: 360px;
    }
  }
}

@media (max-width: 400px) {
  .room {
    img {
      width: 240px;
    }
  }
}
