body {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.active {
  text-decoration: underline;
}

a.text-link {
  color: #244583;

  &:hover {
    text-decoration: underline;
  }
}