body {
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-default);
  background: var(--body-bg);
}

.active {
  text-decoration: underline;
}
