body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul, ol, li, button, input {
  margin: 0;
  padding: 0;
  font-family: inherit;
  list-style: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

