.offering {
  margin-bottom: 70px;

  &__content {
    width: 540px;
    border-left: 2px solid #14274a;
    padding-left: 47px;

    h2 {
      color: #14274a;
      font-size: 56px;
      font-weight: 700;
      line-height: 58px;
      letter-spacing: 1.2px;
      margin-bottom: 25px;
    }

    div {
      color: #14274a;
      font-size: 25px;
      font-weight: 400;
      line-height: 40px; /* 160% */
      line-break: break-word;
      margin-bottom: 30px;
    }
  }
}
